#	$NetBSD: files.overlay,v 1.1.162.1 2017/12/03 11:38:48 jdolecek Exp $

deffs	OVERLAY

define	overlay: vfs, layerfs
file	miscfs/overlay/overlay_vfsops.c	overlay
file	miscfs/overlay/overlay_vnops.c	overlay
