#	$NetBSD: rc.sample,v 1.2.34.1 2002/02/28 04:12:40 nathanw Exp $
#
# echo -n starting machine-specific daemon:
if [ -x /etc/shutdown.local ]; then
	echo -n ' poffd';		poffd "/etc/shutdown.local %"
fi

# echo '.'
