#------------------------------------------------------------------------------
#
#	example of a configuration file for the isdn daemon
#	---------------------------------------------------
#
#	$Id: isdnd.rc.sample,v 1.4 2002/04/11 09:08:19 martin Exp $
#
# $NetBSD: isdnd.rc.sample,v 1.4 2002/04/11 09:08:19 martin Exp $
#
#	last edit-date: [Wed Jul 19 09:59:42 2000]
#
#	NOTICE:
#	=======
#	This configuration file is an EXAMPLE only and MUST be edited
#	carefully to get the desired results!
#
#	Please read the "isdnd.rc" manual page (execute "man isdnd.rc")
#	for reference !
#
#------------------------------------------------------------------------------

#==============================================================================
# SYSTEM section: isdnd global configuration parameters
#==============================================================================
system

# accounting
# ----------

acctall		= on			# generate info for everything
acctfile	= /var/log/isdnd.acct	# name & location of accounting file
useacctfile	= yes			# generate accouting info to file

# monitor
# -------

monitor-allowed	= yes			# global switch: monitor on/off
monitor-port	= 451			# default monitor TCP port

# Monitor rights are granted due to the most specific host/net spec, i.e. in 
# the example below host 192.168.1.2 will have the rights specified on that
# line, even so it belongs to net 192.168.1.0/24 as well.
#
# A monitor specification may either be:
#
#  - the name of a local (UNIX-domain) socket; this MUST start with a "/"
monitor		= "/var/run/isdn-monitor" 
monitor-access	= fullcmd
monitor-access	= channelstate, logevents
monitor-access	= callin, callout
#
#  - a dotted-quad host spec
monitor		= "192.168.1.2"
monitor-access	= restrictedcmd, channelstate, callin, callout
#
#  - a dotted-quad net spec with "/len" (CIDR-style) netmask spec
monitor		= "192.168.1.0/24"
monitor-access	= restrictedcmd, channelstate, callin, callout
#
#  - a resolveable host name
monitor		= "rumolt"
monitor-access	= restrictedcmd, channelstate, callin, callout
#
#  - a resolveable net name with "/len" netmask (s.a.) appended
monitor		= "up-vision-net/24"
monitor-access	= restrictedcmd, channelstate, callin, callout

# ratesfile
# ---------

ratesfile	= /etc/isdn/isdnd.rates	# name & location of rates file

# regular expression pattern matching
# -----------------------------------

#regexpr	= "connected.*KTS"	# look for matches in log messages
#regprog	= connectKTS		# execute program when match is found

# realtime priority section
# -------------------------

rtprio		= 25			# modify isdnd's process priority

#==============================================================================
# entry section: IP over ISDN example - i call back the remote end
#==============================================================================
entry				

name        		= I4BIP		# name for reference. This name will
					# be used in the logfile to identfy
					# this entry.

					# the network or telephone device
					# the data traffic should be routed to:
usrdevicename		= irip		# irip, ippp, isdntel, isdnbchan
usrdeviceunit		= 0		# unit number

autoupdown		= no		# If this entry is missing (or set
					# to "yes") isdnd will mark the
					# interface UP on startup, which
					# may result in an imediate connection
					# attempt (depending on network
					# setup). If set to "no" this will
					# not happen and a manual
					#   ifconfig irip0 up
					# will be needed to make the interface
					# useable.
					# Note: if there is no IP configure via
					#   /etc/ifconfig.irip0
					# isdnd will note the missing
					# IP configuration and leave the
					# interface alone.

					# the ISDN controller number to be
					# used for this entry:
isdncontroller		= -1		# contoller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# incoming only, outgoing only or both:
direction		= inout		# in, out, inout

					# numbers used to verify a DIAL IN:
local-phone-incoming	= 321		# this is my number
remote-phone-incoming	= 0123456789	# this one can call in

					# numbers used at DIAL OUT time:
local-phone-dialout	= 321		# this is my number
remote-phone-dialout	= 00123456789	# i call this remote number

					# in case i have several remote 
					# telephone numbers specified, this 
					# is used to specify which one is 
					# used next on dial fail or retry:
remdial-handling	= first		# first, last or next

					# what happenes if someone dials in:
dialin-reaction		= callback	# accept, reject, ignore, answer, callback

					# normal dialout or do i call back:
dialout-type		= normal	# normal / calledback

callbackwait		= 1		# no of secs to wait before calling back

					# type of protocol on the B-channel:
					# hdlc must be specified for IP (the
					# irip and ippp drivers), raw must be
					# specified for telephone answering
b1protocol		= hdlc		# hdlc, raw

					# shorthold mode and idle time 
					# configuration:
ratetype		= 0		# ratesfile entry to use
unitlength		= 90		# unitlength to assume
unitlengthsrc		= rate		# none, rate, cmdl, conf, aocd
idletime-incoming	= 120		# incoming call idle timeout
idletime-outgoing	= 60		# outgoing call idle timeout
earlyhangup		= 5		# time to hangup before an expected
					# next charging unit will occur

					# retry and recovery parameters
dialretries		= 3		# # of dial retries
dialrandincr		= off		# random dial increment time
recoverytime		= 5		# time to wait between 2 dial tries
usedown			= off		# set i/f down
downtries		= 5		# retry cycles before set down
downtime		= 30		# time to be in down before going up

connectprog		= "ip-up"	# run /etc/isdn/ip-up when an interface
					# has established its network connection.
					# example parameters are:
					# /etc/isdn/ip-up -d isp0 -f up -a 192.110.12.14
disconnectprog		= "ip-down"	# like connectprog, but run after the connection
					# is closed (ISDN layer down). The actual
					# interface address might not be known
					# any more. example parameters are:
					# /etc/isdn/ip-up -d isp0 -f down -a 0.0.0.0

#==============================================================================
# entry section: IP over ISDN example - i am called back by the remote end
#==============================================================================
entry				
                                
name        		= I4BIP1	# name for reference
				
usrdevicename		= irip		# irip, isdntel, isdnbchan
usrdeviceunit		= 1		# unit number
				
isdncontroller		= 0		# contoller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# numbers used to DIAL OUT
remote-phone-dialout	= 00401234567	# remote number to dial 
local-phone-dialout	= 38		# our number to tell remote

					# numbers used to verify at DIAL IN
local-phone-incoming	= 38		# we take calls for this local number
remote-phone-incoming	= 00401234567	# we take calls from this remote machine

b1protocol		= hdlc		# hdlc, raw

ratetype		= 0		# city
unitlength		= 90		# default unit length
earlyhangup		= 5		# safety zone
unitlengthsrc		= aocd		# none, rate, cmdl, conf, aocd
				
dialin-reaction		= accept	# accept, reject, ignore, anwer, callback

dialout-type		= calledback	# normal or calledback

dialretries		= 3
recoverytime		= 3
calledbackwait		= 20
dialrandincr		= off

usedown			= off
downtries		= 2
downtime		= 30

idletime-incoming	= 300
idletime-outgoing	= 30

#==============================================================================
# entry section: answering machine example
#==============================================================================
entry				

name        		= I4BTEL	# name for reference
usrdevicename		= isdntel	# irip, ippp, isdntel, isdnbchan
usrdeviceunit           = 0             # unit number
				
isdncontroller		= 0		# contoller to use or -1 to use any
isdnchannel		= -1		# channel (1/2) to use or 0 or -1 for any

					# numbers used to verify at DIAL IN
local-phone-incoming	= 456		# this is my number
remote-phone-incoming	= *		# anyone can call in
				
dialin-reaction		= answer	# accept, reject, ignore, answer

answerprog		= answer	# program to run

b1protocol		= raw		# hdlc, raw

idletime-incoming	= 5		# 5 seconds idle timeout

#=======================================================================
# entry section: sync PPP example using the isp device
#======================================================================
entry

name			= I4BPPP	# name for reference

usrdevicename		= ippp		# irip, isdntel, isdnbchan
usrdeviceunit		= 0		# unit number

isdncontroller  	= 0		# controller to use or -1 to use any
isdnchannel		= -1		# channel to use or -1 to use any

                                        # numbers used to verify at DIAL IN
local-phone-incoming    = 1234		# we take calls for this local number
remote-phone-incoming   = 5678		# we take calls from this remote machine

                                        # numbers used to DIAL OUT
remote-phone-dialout    = 5678		# remote number to dial 
local-phone-dialout     = 1234          # our number to tell remote

					# used next on dial fail or retry:
remdial-handling        = first		# first, last or next

					# what happenes if someone dials in:
dialin-reaction		= accept	# accept, reject, ignore, answer, callback

                                        # normal dialout or do i call back:
dialout-type            = normal        # normal / calledback

                                        # type of protocol on the B-channel:
                                        # hdlc must be specified for IP (the
                                        # irip and ippp drivers), raw must be
                                        # specified for telephone answering

ppp-expect-auth		= chap		# authentication method used by the
					# remote side to prove its identity,
					# one of: none, pap or chap

ppp-expect-name		= LetMeIn	# name sent in pap or chap message
ppp-expect-password	= Geheim	# password that must be sent by the
					# remote side

ppp-send-auth		= chap		# authentication method that we have
					# to use to be accepted by the remote
					# side, one of: none, pap or chap

ppp-send-name		= ItsMe		# our PPP login name at the remote site
ppp-send-password	= WhoKnows	# the password the remote side expects
					# us to send

ppp-auth-paranoid	= yes		# do we expect the remote side to prove
					# its identity even if we dial out

ppp-auth-rechallenge	= yes		# chap only: rechallenge once in a while

b1protocol              = hdlc          # hdlc, raw

idletime-incoming	= 240		# incoming call idle timeout
idletime-outgoing	= 30		# outgoing call idle timeout

ratetype		= 0  		# city rate
unitlength		= 90		# default unit length
unitlengthsrc		= rate		# none, rate, cmdl, conf, aocd

dialretries		= 3		# no of retries
dialrandincr		= on		# increase time between dials
recoverytime		= 25		# wait between dails

usedown			= off		# do not use soft up/down
downtries		= 2
downtime		= 30

#==============================================================================
# example of a configuration file for the isdn daemon and userland ppp.
# (see the ppp setup examples in i4b's user-ppp dir and FAQ item 22 !)
#==============================================================================
entry
name			= userppp0	# name of entry
usrdevicename		= rbch		# use the raw b channel access device
usrdeviceunit		= 0		# unit 0

isdncontroller  	= 0		# use isdn controller 0
isdnchannel		= -1		# use any channel on this controller

local-phone-incoming	= 01494723626	
remote-phone-incoming	= *
local-phone-dialout	= 01494723626
remote-phone-dialout	= 01494723626	# ppp(8) will override this

remdial-handling	= first
dialin-reaction		= ignore	# no dialins allowed

dialout-type		= normal

b1protocol		= hdlc		# b channel layer 1 protocol

idletime-incoming	= 900		# Should be larger than ppps timeout
idletime-outgoing	= 900		# Should be larger than ppps timeout

ratetype		= 0  
unitlength		= 90
unitlengthsrc		= rate

dialretries		= 1
dialrandincr		= on
recoverytime		= 25

usedown			= off
downtries		= 2
downtime		= 30

entry
name			= userppp1
usrdevicename		= rbch
usrdeviceunit		= 1
isdncontroller  	= 0
isdnchannel		= -1
local-phone-incoming	= 01494723626
remote-phone-incoming	= *
local-phone-dialout	= 01494723626
remote-phone-dialout	= 01494723626	# ppp(8) will override this
remdial-handling	= first
dialin-reaction		= accept
dialout-type		= normal
b1protocol		= hdlc
idletime-incoming	= 900		# Should be larger than ppps timeout
idletime-outgoing	= 900		# Should be larger than ppps timeout
ratetype		= 0  
unitlength		= 90
unitlengthsrc		= rate
dialretries		= 1
dialrandincr		= on
recoverytime		= 25
usedown			= off
downtries		= 2
downtime		= 30

# EOF #########################################################################

