#	$NetBSD: ppbusdevices.config,v 1.1 2020/02/04 21:09:03 jdolecek Exp $
#
# This file contains all ppbus related configuration.
# It is suitable for inclusion in a kernel config(5) file.
#

# Driver for AT-style parallel port chip sets, replaces plain lpt(4)
#no lpt* at acpi?	# actually lpt* at acpi? commented out in amd64 GENERIC
atppc*	at acpi?

# Parallel Port Bus system with GPIO
ppbus*	at atppc?

# Devices
gpio*	at ppbus?	# general purpose Input/Output
lpt*	at ppbus?	# parallel printer interfaces
plip*	at ppbus?	# printer port Internet Protocol driver
pps*	at ppbus?	# Pulse per second Timing Interface
