# $NetBSD: veriexec.config,v 1.1 2019/04/26 18:41:24 sevan Exp $
#
# This file contains all Veriexec related configuration.
# It is suitable for inclusion in a kernel config(5) file.
#

options 	FILEASSOC		# fileassoc(9) - needed by Veriexec
					# and PAX_SEGVGUARD

# a pseudo device needed for veriexec
pseudo-device	veriexec
#
# Note that removing fingerprint methods will have almost no impact on the
# kernel code size.
#
options VERIFIED_EXEC_FP_SHA256
options VERIFIED_EXEC_FP_SHA384
options VERIFIED_EXEC_FP_SHA512
