#	$NetBSD: virtio.config,v 1.2 2025/07/26 14:18:14 martin Exp $
#
# This file contains all generally useful virtio(4) drivers.
# It is suitable for inclusion in a kernel config(5) file which
# provides any virtio(4) attachments, typically at pci, fdt, or acpi.
#
# Note: Certain drivers currently need PAGE_SIZE == VIRTIO_PAGE_SIZE:
# - viomb
# - vio9p
# These may have to be disabled explicitly in users on architectures
# where PAGE_SIZE != 4096.
#

viomb* 		at virtio?		# Virtio memory balloon device
ld* 		at virtio?		# Virtio disk device
viocon* 	at virtio?		# Virtio serial device
viogpu* 	at virtio?		# Virtio GPU device
vioif* 		at virtio?		# Virtio network device
viornd* 	at virtio?		# Virtio entropy device
vioscsi* 	at virtio?		# Virtio SCSI device
vio9p* 		at virtio?		# Virtio 9P device
