#!/bin/sh

#	$NetBSD: start.tmpl,v 1.1 2000/06/12 18:51:18 he Exp $

again="true"

echo "Welcome to the NetBSD @@VERSION@@ installation floppy."
echo

while [ $again = "true" ]; do

	echo 'enter "sysinst" to run the new system install program,'
	echo '      "install" to install NetBSD,'
	echo '      "upgrade" to upgrade an existing NetBSD system,'
	echo '   or "shell" for a shell prompt.'
	echo
	echo -n "your choice? "
	read resp

	case "$resp" in
		sysinst|install|upgrade|shell)
			again="false"
			;;
		"")
			echo
			;;
		*)
			echo	"Sorry, $resp isn't valid."
			echo
			;;
	esac
done

case "$resp" in
	sysinst)
		sysinst
		;;
	install)
		install
		;;
	upgrade)
		upgrade
		;;
	shell)
		echo 'If you want to run install or upgrade later,'
		echo 'simply type "install" or "upgrade" to the shell.'
		echo 'good luck!'
		;;
esac
