# $NetBSD: hpcboot.config,v 1.7.2.1 2006/02/01 14:51:27 yamt Exp $
# config file/script to generate project file (.dsp/.vcp) for hpcboot

TYPE=application

NAME='hpcboot'

# machine independent sources.
SRCFILE_LIST='
	res/hpcmenu.rc
	machine_config.cpp
	framebuffer.cpp
	hpcboot.cpp
	hpcmenu.cpp
	arch.cpp
	boot.cpp
	console.cpp
	file.cpp
	file_fat.cpp
	file_http.cpp
	file_manager.cpp
	file_ufs.cpp
	load.cpp
	load_elf.cpp	
	load_coff.cpp
	memory.cpp
	menu\menu.cpp
	menu\window.cpp
	menu\tabwindow.cpp
	menu\rootwindow.cpp
	menu\platform.cpp	
	menu\platid.c
	menu\platid_mask.c
	menu\platid_name.c
'
# machine dependent sources.
SRCFILE_LIST_ARM='
	arm\arm_arch.cpp
	arm\arm_console.cpp
	arm\arm_boot.cpp
	arm\arm_mmu.cpp
	arm\arm.asm
'
SRCFILE_LIST_SH3='
	sh3\sh_arch.cpp
	sh3\sh_console.cpp
	sh3\sh_boot.cpp
	sh3\sh_mmu.cpp
	sh3\dev\sh_dev.cpp
	sh3\dev\sh3_dev.cpp
	sh3\dev\sh4_dev.cpp
'
SRCFILE_LIST_MIPS='
	mips\mips_arch.cpp
	mips\mips_console.cpp
	mips\mips_boot.cpp
	mips\mips_vr41.cpp
	mips\mips_tx39.cpp
'
CPPDEF_LIST='
	_STANDALONE
	__STDC__
	__COMPILER_INT64__=__int64
	__COMPILER_UINT64__="unsigned#__int64"
	LIBSA_RENAME_PRINTF
'
INCDIR_LIST='
	.
	res
	../include
	../../../..
	../../../../../common/dist/zlib
'
LIBDEP_LIST='
	libsa
	libz
'

LIBRARY_LIST='
	libsa
	libz
	winsock
'
