#!/bin/sh
# $NetBSD: libz.config,v 1.4 2001/01/05 15:00:57 takemura Exp $

# config file/script to generate project file (.dsp) for libz

TYPE=static_library_WCE_MIPS

NAME='libz'
SRCFILE_LIST='
	../../../../lib/libz/adler32.c
	../../../../lib/libz/crc32.c
	../../../../lib/libz/infblock.c
	../../../../lib/libz/infcodes.c
	../../../../lib/libz/inffast.c
	../../../../lib/libz/inflate.c
	../../../../lib/libz/inftrees.c
	../../../../lib/libz/infutil.c
	../../../../lib/libz/uncompr.c
	../../../../lib/libz/zalloc.c
'
CPPDEF_LIST='
	_STANDALONE
	__STDC__
	__signed=signed
	LIBSA_RENAME_PRINTF
	__COMPILER_INT64__=__int64
'
INCDIR_LIST='
	.
	../../../..
	../include
'
LIBDEP_LIST=''
LIBRARY_LIST=''
