#	$NetBSD: sshd_config,v 1.2 2019/08/14 12:08:27 martin Exp $

# Special cut-down sshd_config for sshramdisk
# Tim Rightnour <garbled@NetBSD.org>

#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::
#Protocol 2
#HostKey /etc/ssh/ssh_host_rsa_key
LoginGraceTime 600
# needed because sysinst is uid 0
PermitRootLogin yes
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication yes
# just in case
PermitEmptyPasswords yes
AllowUsers pi sysinst
