#!/bin/sh
# $NetBSD: libsa.config,v 1.1.2.3 2001/04/21 17:53:33 bouyer Exp $

# config file/script to generate project file (.dsp) for libsa

TYPE=static_library

NAME='libsa'
SRCFILE_LIST='
	../../../../lib/libsa/bcopy.c
	../../../../lib/libsa/bzero.c
	../../../../lib/libsa/close.c
	../../../../lib/libsa/dkcksum.c
	../../../../lib/libsa/lseek.c
	../../../../lib/libsa/open.c
	../../../../lib/libsa/printf.c
	../../../../lib/libsa/read.c
	../../../../lib/libsa/subr_prf.c
	../../../../lib/libsa/twiddle.c
	../../../../lib/libsa/ufs.c
	../../../../lib/libsa/cread.c
	panic.c
	alloc.c
	winblk.c
	winprintf.c
'
CPPDEF_LIST='
	_STANDALONE
	__STDC__
	__signed=signed
	__INTERNAL_LIBSA_CREAD
	LIBSA_RENAME_PRINTF
	LIBKERN_INLINE=__inline
	__COMPILER_INT64__=__int64
	__COMPILER_UINT64__="unsigned#__int64"
'
INCDIR_LIST='
	.
	../../../..
	../include
'
LIBDEP_LIST=''
LIBRARY_LIST=''
