# /var/cron/tabs/root - root's crontab for Vixie's cron
#
SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin
HOME=/var/log
#
#minute	hour	mday	month	wday	command
#
#0/15	*	*	*	*	/usr/libexec/atrun
0	2	*	*	*	sh /etc/daily
30	3	*	*	6	sh /etc/weekly
30	5	1	*	*	sh /etc/monthly
