NetBSD ?.? (UNKNOWN)

Welcome to NetBSD!

This system is running a release candidate of the NetBSD operating system,
aimed at shaking out the most serious bugs that may affect the next formal
release.  It should be considered close to release quality, but may still
contain unresolved issues.

You are encouraged to test this version as thoroughly as possible.  Should you
encounter any problem, please report it back to the development team using the
send-pr(1) utility (requires a working MTA).  If yours is not properly set up,
use the web interface at: http://www.netbsd.org/support/send-pr.html

Thank you for helping us test and improve this NetBSD release candidate.

