#!/bin/sh
# $NetBSD: libz.config,v 1.6 2006/01/17 03:12:29 uwe Exp $

# config file/script to generate project file (.dsp/.vcp) for libz

TYPE=static_library

NAME='libz'
SRCFILE_LIST='
	../../../../../common/dist/zlib/adler32.c
	../../../../../common/dist/zlib/crc32.c
	../../../../../common/dist/zlib/inffast.c
	../../../../../common/dist/zlib/inflate.c
	../../../../../common/dist/zlib/inftrees.c
	../../../../../common/dist/zlib/uncompr.c
	zalloc.c
'
CPPDEF_LIST='
	_STANDALONE
	__STDC__
	__signed=signed
	LIBSA_RENAME_PRINTF
	LIBKERN_INLINE=__inline
	__COMPILER_INT64__=__int64
	__COMPILER_UINT64__="unsigned#__int64"
	__daddr_t=int32_t
'
INCDIR_LIST='
	.
	../include
	../../../..
	../../../../../common/dist/zlib
'
LIBDEP_LIST=''
LIBRARY_LIST=''
