#!/bin/sh
# $NetBSD: libz.config,v 1.5.2.1 2006/02/01 14:51:27 yamt Exp $

# config file/script to generate project file (.dsp/.vcp) for libz

TYPE=static_library

NAME='libz'
SRCFILE_LIST='
	../../../../../common/dist/zlib/adler32.c
	../../../../../common/dist/zlib/crc32.c
	../../../../../common/dist/zlib/inffast.c
	../../../../../common/dist/zlib/inflate.c
	../../../../../common/dist/zlib/inftrees.c
	../../../../../common/dist/zlib/uncompr.c
	zalloc.c
'
CPPDEF_LIST='
	_STANDALONE
	__STDC__
	__COMPILER_INT64__=__int64
	__COMPILER_UINT64__="unsigned#__int64"
'
INCDIR_LIST='
	.
	../../../../../common/dist/zlib
	../include
	../../../..
'
LIBDEP_LIST=''
LIBRARY_LIST=''
