#	$NetBSD: INSTALL.config,v 1.1.2.2 2015/04/06 15:18:01 skrll Exp $
#
#	INSTALL -- Common configuration fragment for install kernels.
#

options 	MEMORY_DISK_HOOKS
options 	MEMORY_DISK_IS_ROOT	# Force root on ramdisk
options 	MEMORY_DISK_ROOT_SIZE=8192
options 	MEMORY_DISK_RBFLAGS=RB_SINGLE	# boot in single-user mode

makeoptions	NEED_MDSETIMAGE="yes"

pseudo-device	md
