#	$NetBSD: INSTALL.config,v 1.1.18.2 2017/12/03 11:36:38 jdolecek Exp $
#
#	INSTALL -- Common configuration fragment for install kernels.
#

options 	MEMORY_DISK_HOOKS
options 	MEMORY_DISK_IS_ROOT	# Force root on ramdisk
options 	MEMORY_DISK_ROOT_SIZE=8192
options 	MEMORY_DISK_RBFLAGS=RB_SINGLE	# boot in single-user mode

makeoptions	NEED_MDSETIMAGE="yes"

pseudo-device	md
