#!/bin/sh
# $NetBSD: pbsdboot.config,v 1.7 2000/03/20 10:47:35 takemura Exp $

# config file/script to generate project file (.dsp) for pbsdboot

TYPE=application_WCE_MIPS

NAME='pbsdboot'
SRCFILE_LIST='
	disptest.c
	elf.c
	hpccmap.c
	layout.c
	main.c
	mips.c
	palette.c
	pbsdboot.c
	platid.c
	platid_mask.c
	platid_name.c
	preference.c
	print.c
	res/pbsd.bmp
	res/pbsd.ico
	res/pbsdboot.rc
	systeminfo.c
	tx39xx.c
	vmem.c
	vr41xx.c
'
CPPDEF_LIST='
	_STANDALONE
	__STDC__
'
INCDIR_LIST='
	.
	../../../..
	../include
'
LIBDEP_LIST='libsa'
LIBRARY_LIST=''

cd `dirname $0`
. ../dspgen/do_subst.sh
