#!/bin/sh
# $NetBSD: pbsdboot.config,v 1.1 2000/01/12 02:33:56 cgd Exp $

# config file/script to generate project file (.dsp) for pbsdboot

TYPE=application_WCE_MIPS

NAME='pbsdboot'
SRCFILE_LIST='disptest.c elf.c layout.c main.c mips.c pbsdboot.c res\pbsdboot.rc platid.c platid_mask.c preference.c print.c systeminfo.c tx39xx.c vmem.c vr41xx.c res\pbsd.bmp res\pbsd.ico'
CPPDEF_LIST='_STANDALONE'
INCDIR_LIST='. ../include ../../../..'
LIBDEP_LIST='libsa'
LIBRARY_LIST=''

cd `dirname $0`
. ../dspgen/do_subst.sh
