#	fs: /
#	by: bostic
#
#	%W% (Berkeley) %G%

# top-level files are owned by root.wheel
# (else too easy to get root by compromising these)

/set uname=root gname=wheel mode=0755 type=file

sys	type=link size=11 link=usr/src/sys
a	type=dir
..
b	type=dir
..

dev	type=dir
	fd	type=dir
	..
..

etc	type=dir
	disklabels	type=dir
	..
# what is the following for?
/set nlink=1
	kerberosIV	type=dir
	..
	mtree	type=dir
	..
	namedb	type=dir
	..
	passwd	mode=0644
	master.passwd mode=0600
	spwd.db	mode=0600
	pwd.db	mode=0644
	gname	mode=0644
	crontab	mode=0644
	dumpdates	gname=operator mode=0664

	# config files, writeable by root
	/set mode=0644 type=file
	daily
	weekly
	monthly
	exports
	fstab
	hosts.equiv
	hosts.lpd
	inetd.conf
	printcap
	rc
	rc.local
	netstart	mode=0755
	remote
	security
	sendmail.cf
	sendmail.cw
	syslog.conf
	ttys

	# prototype files, not normally written by root
	/set mode=0444
	ftpusers
	shells
	gettytab
	named.boot
	hosts
	networks
	protocols
	services
	localtime	uname=bin gname=bin
	man.conf	uname=bin gname=bin

..

mnt	type=dir
..
root	type=dir
..
stand	type=dir
..
tmp	type=dir uname=bin gname=bin mode=01777
..
usr	type=dir
..
var	type=dir
..

# binary directories:
/set uname=bin gname=bin mode=0755
bin	type=dir
..
sbin	type=dir
..
