#	fs: /var
#	by: bostic
#
#	@(#)BSD.var.dist	5.3 (Berkeley) 5/9/91

/set gname=bin mode=0755 uname=bin type=file
account	type=dir uname=bin gname=bin mode=0755
..

/set gname=bin mode=0755 uname=bin type=file
at	type=dir
	past	type=dir uname=bin gname=bin mode=0755
	..
..
backups	type=dir uname=bin gname=bin mode=0755
..
db	type=dir uname=bin gname=bin mode=0755
..

/set gname=bin mode=0755 uname=games type=file
games	type=dir
	hackdir	type=dir uname=games gname=bin mode=0755
	..
	larn	type=dir uname=games gname=bin mode=0755
	..
	phantasia	type=dir uname=games gname=bin mode=0755
	..
..
log	type=dir uname=bin gname=bin mode=0755
..
mail	type=dir uname=bin gname=bin mode=0755
..
msgs	type=dir uname=bin gname=bin mode=0755
..
preserve	type=dir uname=bin gname=bin mode=0755
..
quotas	type=dir uname=bin gname=bin mode=0755
..
run	type=dir uname=bin gname=bin mode=0755
..
rwho	type=dir uname=bin gname=bin mode=0755
..

/set gname=bin mode=0755 uname=bin type=file
spool	type=dir mode=0755

/set gname=bin mode=0755 uname=bin type=file
	ftp	type=dir mode=0755
		bin	type=dir uname=bin gname=bin mode=0755
		..
		hidden	type=dir uname=bin gname=bin mode=0111
		..
		pub	type=dir uname=bin gname=bin mode=0755
		..
	..
	lpd	type=dir uname=bin gname=bin mode=0755
	..
	mqueue	type=dir uname=root gname=bin mode=0755
	..
	news	type=dir uname=bin gname=bin mode=0755
	..
	output	type=dir uname=bin gname=bin mode=0755
	..
	secretmail	type=dir uname=root gname=bin mode=0755
	..
	uucp	type=dir uname=uucp gname=daemon mode=0755
	..
	uucppublic	type=dir uname=uucp gname=daemon mode=01777
	..
..
tmp	type=dir uname=bin gname=bin mode=01777
..
