#	fs: /var
#	by: bostic
#
#	from: @(#)BSD.var.dist	5.3 (Berkeley) 5/9/91
#	$Id: BSD.var.dist,v 1.3 1994/01/08 03:07:47 jtc Exp $
#

. type=dir

/set type=dir uname=bin gname=bin mode=0755 
account
..
at
	jobs	uname=root gname=wheel mode=0700
	..
	spool	uname=root gname=wheel mode=0700
	..
..
backups
..
crash
..
cron
	tabs	uname=root gname=wheel mode=0700
	..
..
db
..
log
..
mail
..
msgs
..
preserve
..
run
..
rwho
..

/set type=dir uname=games gname=bin mode=0755 
games
	hackdir
	..
	larn
	..
..

/set type=dir uname=bin gname=bin mode=0755
spool
	/set type=dir uname=root gname=daemon mode=0755 
	ftp
		bin	type=dir uname=bin gname=bin mode=0755
		..
		etc	type=dir uname=bin gname=bin mode=0755
		..
		pub	type=dir uname=bin gname=bin mode=0755
		..
	..
	lock	uname=uucp
	..
	lpd	
	..
	mqueue
	..
	output
	..
	uucp		type=dir uname=uucp gname=daemon mode=0755
	..
	uucppublic	type=dir uname=uucp gname=daemon mode=01777
	..
..

tmp	type=dir uname=bin gname=bin mode=01777
..
