#	fs: /usr
#	by: bostic
#
#	@(#)BSD.usr.dist	5.5 (Berkeley) 5/9/91

/set gname=bin mode=0755 uname=bin type=file
bin	type=dir uname=bin gname=bin mode=0755
..
contrib	type=dir uname=bin gname=bin mode=0755
	X	type=dir uname=bin gname=bin mode=0755
		bin	type=dir uname=bin gname=bin mode=0755
		..
		include	type=dir uname=bin gname=bin mode=0755
		..
		man	type=dir uname=bin gname=bin mode=0755
		..
	..
	bin	type=dir uname=bin gname=bin mode=0755
	..	
	lib	type=dir uname=bin gname=bin mode=0755
		emacs	type=dir uname=bin gname=bin mode=0755
			etc	type=dir uname=bin gname=bin mode=0755
			..	
			info	type=dir uname=bin gname=bin mode=0755
			..	
			lisp	type=dir uname=bin gname=bin mode=0755
				term	type=dir uname=bin gname=bin mode=0755
				..	
			..	
			lock	type=dir uname=bin gname=bin mode=0777
			..	
		..	
	..	
	man	type=dir uname=bin gname=bin mode=0755
		cat1	type=dir uname=bin gname=bin mode=0755
		..
		cat2	type=dir uname=bin gname=bin mode=0755
		..
		cat3	type=dir uname=bin gname=bin mode=0755
		..
		cat4	type=dir uname=bin gname=bin mode=0755
		..
		cat5	type=dir uname=bin gname=bin mode=0755
		..
		cat6	type=dir uname=bin gname=bin mode=0755
		..
		cat7	type=dir uname=bin gname=bin mode=0755
		..
		cat8	type=dir uname=bin gname=bin mode=0755
		..
	..
	mh	type=dir uname=bin gname=bin mode=0755
		bin	type=dir uname=bin gname=bin mode=0755
		..
		include	type=dir uname=bin gname=bin mode=0755
		..
		lib	type=dir uname=bin gname=bin mode=0755
		..
		man	type=dir uname=bin gname=bin mode=0755
		..
	..
..

/set gname=bin mode=0700 uname=games type=file
games	type=dir uname=bin mode=0755
	hide	type=dir uname=games gname=bin mode=0700
	..
..

/set gname=bin mode=0755 uname=bin type=file
include	type=dir
	X	type=dir uname=bin gname=bin mode=0755
	..

/set gname=bin mode=0755 uname=bin type=file
	X11	type=dir
		bitmaps	type=dir uname=bin gname=bin mode=0755
		..
	..
	arpa	type=dir uname=bin gname=bin mode=0755
	..
	kerberosIV	type=dir uname=bin gname=bin mode=0755
	..
	pascal	type=dir uname=bin gname=bin mode=0755
	..
	protocols	type=dir uname=bin gname=bin mode=0755
	..
	rpc	type=dir uname=bin gname=bin mode=0755
	..
	xnscourier	type=dir uname=bin gname=bin mode=0755
	..
..

/set gname=bin mode=0755 uname=bin type=file
lib	type=dir

/set gname=bin mode=0755 uname=bin type=file
	uucp	type=dir uname=uucp gname=daemon mode=0755
	..
..

/set gname=bin mode=0755 uname=bin type=file
libdata	type=dir
	adb	type=dir uname=bin gname=bin mode=0755
	..

/set gname=bin mode=0755 uname=bin type=file
	learn	type=dir
		C	type=dir uname=bin mode=0755
		..
		bin	type=dir uname=bin mode=0755
		..
		editor	type=dir uname=bin mode=0755
		..
		eqn	type=dir uname=bin mode=0755
		..
		files	type=dir uname=bin mode=0755
		..
		macros	type=dir uname=bin mode=0755
		..
		morefiles	type=dir uname=bin mode=0755
		..
	..
	lint	type=dir uname=bin mode=0755
	..
	pascal	type=dir uname=bin mode=0755
	..
	term	type=dir uname=bin mode=0755
	..
	troff_font	type=dir uname=bin mode=0755
	..
..

/set gname=bin mode=0755 uname=bin type=file
libexec	type=dir
	lpr	type=dir uname=bin gname=bin mode=0755
	..
	pascal	type=dir uname=bin gname=bin mode=0755
	..
	plot	type=dir uname=bin gname=bin mode=0755
	..
..
local	type=dir uname=bin gname=bin mode=0755
	bin	type=dir uname=bin gname=bin  mode=0755
	..
	man	type=dir uname=bin gname=bin  mode=0755
		cat1	type=dir uname=bin gname=bin  mode=0755
		..
		cat2	type=dir uname=bin gname=bin  mode=0755
		..
		cat3	type=dir uname=bin gname=bin  mode=0755
		..
		cat4	type=dir uname=bin gname=bin  mode=0755
		..
		cat5	type=dir uname=bin gname=bin  mode=0755
		..
		cat6	type=dir uname=bin gname=bin  mode=0755
		..
		cat7	type=dir uname=bin gname=bin  mode=0755
		..
		cat8	type=dir uname=bin gname=bin  mode=0755
		..
	..
..
obj	type=dir uname=bin gname=bin mode=0755
..
old	type=dir uname=bin gname=bin mode=0755
..
sbin	type=dir uname=bin gname=bin mode=0755
..

/set gname=bin mode=0755 uname=bin type=file
share	type=dir
	calendar	type=dir uname=bin gname=bin mode=0755
	..

/set gname=bin mode=0755 uname=bin type=file
	dict	type=dir
		papers	type=dir uname=bin gname=bin mode=0755
		..
		special	type=dir uname=bin gname=bin mode=0755
		..
	..
	doc	type=dir uname=bin gname=bin mode=0755
		ps1	type=dir uname=bin gname=bin mode=0755
			01.Clang	type=dir uname=bin gname=bin mode=0755
			..
			02.f77	type=dir uname=bin gname=bin mode=0755
			..
			03.f77io	type=dir uname=bin gname=bin mode=0755
			..
			04.pascal	type=dir uname=bin gname=bin mode=0755
			..
			05.as	type=dir uname=bin gname=bin mode=0755
			..
			06.sysman	type=dir uname=bin gname=bin mode=0755
			..
			07.ipctut	type=dir uname=bin gname=bin mode=0755
			..
			08.ipc	type=dir uname=bin gname=bin mode=0755
			..
			09.lint	type=dir uname=bin gname=bin mode=0755
			..
			10.adb	type=dir uname=bin gname=bin mode=0755
			..
			11.dbx	type=dir uname=bin gname=bin mode=0755
			..
			12.make	type=dir uname=bin gname=bin mode=0755
			..
			13.rcs	type=dir uname=bin gname=bin mode=0755
			..
			14.sccs	type=dir uname=bin gname=bin mode=0755
			..
			15.yacc	type=dir uname=bin gname=bin mode=0755
			..
			16.lex	type=dir uname=bin gname=bin mode=0755
			..
			17.m4	type=dir uname=bin gname=bin mode=0755
			..
			18.curses	type=dir uname=bin gname=bin mode=0755
			..
		..
		ps2	type=dir uname=bin gname=bin mode=0755
			01.cacm	type=dir uname=bin gname=bin mode=0755
			..
			02.summary	type=dir uname=bin gname=bin mode=0755
			..
			03.uprog	type=dir uname=bin gname=bin mode=0755
			..
			04.implement	type=dir uname=bin gname=bin mode=0755
			..
			05.iosys	type=dir uname=bin gname=bin mode=0755
			..
			07.fp	type=dir uname=bin gname=bin mode=0755
			..
		..
		smm	type=dir uname=bin gname=bin mode=0755
			01.setup	type=dir uname=bin gname=bin mode=0755
			..
			02.config	type=dir uname=bin gname=bin mode=0755
			..
			03.kdebug	type=dir uname=bin gname=bin mode=0755
			..
			04.quotas	type=dir uname=bin gname=bin mode=0755
			..
			05.fsck	type=dir uname=bin gname=bin mode=0755
			..
			06.lpd	type=dir uname=bin gname=bin mode=0755
			..
			07.sendmailop	type=dir uname=bin gname=bin mode=0755
			..
			08.timedop	type=dir uname=bin gname=bin mode=0755
			..
			09.uucpimpl	type=dir uname=bin gname=bin mode=0755
			..
			10.newsop	type=dir uname=bin gname=bin mode=0755
			..
			11.named	type=dir uname=bin gname=bin mode=0755
			..
			12.uchanges	type=dir uname=bin gname=bin mode=0755
			..
			13.kchanges	type=dir uname=bin gname=bin mode=0755
			..
			14.fastfs	type=dir uname=bin gname=bin mode=0755
			..
			15.net	type=dir uname=bin gname=bin mode=0755
			..
			16.sendmail	type=dir uname=bin gname=bin mode=0755
			..
			17.security	type=dir uname=bin gname=bin mode=0755
			..
			18.password	type=dir uname=bin gname=bin mode=0755
			..
			19.porttour	type=dir uname=bin gname=bin mode=0755
			..
			20.termdesc	type=dir uname=bin gname=bin mode=0755
			..
			21.uucpnet	type=dir uname=bin gname=bin mode=0755
			..
			22.timed	type=dir uname=bin gname=bin mode=0755
			..
		..
		usd	type=dir uname=bin gname=bin mode=0755
			01.begin	type=dir uname=bin gname=bin mode=0755
			..
			02.learn	type=dir uname=bin gname=bin mode=0755
			..
			03.shell	type=dir uname=bin gname=bin mode=0755
			..
			04.csh	type=dir uname=bin gname=bin mode=0755
			..
			05.dc	type=dir uname=bin gname=bin mode=0755
			..
			06.bc	type=dir uname=bin gname=bin mode=0755
			..
			07.Mail	type=dir uname=bin gname=bin mode=0755
			..
			08.mh	type=dir uname=bin gname=bin mode=0755
			..
			09.newsread	type=dir uname=bin gname=bin mode=0755
			..
			10.etiq	type=dir uname=bin gname=bin mode=0755
			..
			11.notes	type=dir uname=bin gname=bin mode=0755
			..
			12.edtut	type=dir uname=bin gname=bin mode=0755
			..
			13.edadv	type=dir uname=bin gname=bin mode=0755
			..
			14.edit	type=dir uname=bin gname=bin mode=0755
			..
			15.vi	type=dir uname=bin gname=bin mode=0755
			..
			16.ex	type=dir uname=bin gname=bin mode=0755
			..
			17.jove	type=dir uname=bin gname=bin mode=0755
			..
			18.sed	type=dir uname=bin gname=bin mode=0755
			..
			19.awk	type=dir uname=bin gname=bin mode=0755
			..
			20.msmacros	type=dir uname=bin gname=bin mode=0755
			..
			21.msdiffs	type=dir uname=bin gname=bin mode=0755
			..
			22.memacros	type=dir uname=bin gname=bin mode=0755
			..
			23.meref	type=dir uname=bin gname=bin mode=0755
			..
			24.troff	type=dir uname=bin gname=bin mode=0755
			..
			25.trofftut	type=dir uname=bin gname=bin mode=0755
			..
			26.eqn	type=dir uname=bin gname=bin mode=0755
			..
			27.eqnguide	type=dir uname=bin gname=bin mode=0755
			..
			28.tbl	type=dir uname=bin gname=bin mode=0755
			..
			29.refer	type=dir uname=bin gname=bin mode=0755
			..
			30.invert	type=dir uname=bin gname=bin mode=0755
			..
			31.bib	type=dir uname=bin gname=bin mode=0755
			..
			32.diction	type=dir uname=bin gname=bin mode=0755
			..
			33.rogue	type=dir uname=bin gname=bin mode=0755
			..
			34.trek	type=dir uname=bin gname=bin mode=0755
			..
		..
	..

/set gname=bin mode=0755 uname=games type=file
	games	type=dir uname=bin
		atc	type=dir uname=games gname=bin mode=0755
		..
		ching	type=dir uname=games gname=bin mode=0755
		..
		fortune	type=dir uname=games gname=bin mode=0755
		..
		larn	type=dir uname=games gname=bin mode=0755
		..
		quiz.db	type=dir uname=games gname=bin mode=0755
		..
	..

/set gname=bin mode=0755 uname=bin type=file
	man	type=dir
		cat.old	type=dir uname=bin gname=bin mode=0755
		..
		cat1	type=dir uname=bin gname=bin mode=0755
		..
		cat2	type=dir uname=bin gname=bin mode=0755
		..
		cat3	type=dir uname=bin gname=bin mode=0755
		..
		cat3f	type=dir uname=bin gname=bin mode=0755
		..

/set gname=bin mode=0755 uname=bin type=file
		cat4	type=dir
			tahoe	type=dir uname=bin gname=bin mode=0755
			..
			vax	type=dir uname=bin gname=bin mode=0755
			..
			hp300	type=dir uname=bin gname=bin mode=0755
			..
		..
		cat5	type=dir uname=bin gname=bin mode=0755
		..

/set gname=bin mode=0755 uname=bin type=file
		cat6	type=dir
			tahoe	type=dir uname=bin gname=bin mode=0755
			..
			vax	type=dir uname=bin gname=bin mode=0755
			..
		..
		cat7	type=dir uname=bin gname=bin mode=0755
		..

/set gname=bin mode=0755 uname=bin type=file
		cat8	type=dir
			tahoe	type=dir uname=bin gname=bin mode=0755
			..
			vax	type=dir uname=bin gname=bin mode=0755
			..
			hp300	type=dir uname=bin gname=bin mode=0755
			..
		..
		old	type=dir uname=bin gname=bin mode=0755
			cat1	type=dir uname=bin gname=bin mode=0755
			..
			cat2	type=dir uname=bin gname=bin mode=0755
			..
			cat3	type=dir uname=bin gname=bin mode=0755
			..
			cat4	type=dir uname=bin gname=bin mode=0755
			..
			cat5	type=dir uname=bin gname=bin mode=0755
			..
			cat6	type=dir uname=bin gname=bin mode=0755
			..
			cat7	type=dir uname=bin gname=bin mode=0755
			..
			cat8	type=dir uname=bin gname=bin mode=0755
			..
		..
	..
	me	type=dir uname=bin gname=bin mode=0755
	..
	misc	type=dir uname=bin gname=bin mode=0755
	..
	mk	type=dir uname=bin gname=bin mode=0755
	..
	ms	type=dir uname=bin gname=bin mode=0755
	..
	skel	type=dir uname=bin gname=bin mode=0755
	..
	tabset	type=dir uname=bin gname=bin mode=0755
	..
	tmac	type=dir uname=bin gname=bin mode=0755
	..
	zoneinfo	type=dir uname=bin gname=bin mode=0755
		Australia	type=dir uname=bin gname=bin mode=0555
		..
		Brazil	type=dir uname=bin gname=bin mode=0555
		..
		Canada	type=dir uname=bin gname=bin mode=0555
		..
		Chile	type=dir uname=bin gname=bin mode=0555
		..
		Mexico	type=dir uname=bin gname=bin mode=0555
		..
		SystemV	type=dir uname=bin gname=bin mode=0555
		..
		US	type=dir uname=bin gname=bin mode=0555
		..
	..
..
src	type=dir uname=bin gname=bin mode=0755
	bin	type=dir uname=bin gname=bin mode=0755
	..
	contrib	type=dir uname=bin gname=bin mode=0755
	..
	etc	type=dir uname=bin gname=bin mode=0755
	..
	games	type=dir uname=bin gname=bin mode=0755
	..
	include	type=dir uname=bin gname=bin mode=0755
	..
	kerberosIV	type=dir uname=bin gname=bin mode=0755
	..
	lib	type=dir uname=bin gname=bin mode=0755
	..
	libexec	type=dir uname=bin gname=bin mode=0755
	..
	old	type=dir uname=bin gname=bin mode=0755
	..
	pgrm	type=dir uname=bin gname=bin mode=0755
	..
	sbin	type=dir uname=bin gname=bin mode=0755
	..
	share	type=dir uname=bin gname=bin mode=0755
	..
	sys	type=dir uname=bin gname=sys mode=0755
	..
	usr.bin	type=dir uname=bin gname=bin mode=0755
	..
	usr.sbin	type=dir uname=bin gname=bin mode=0755
	..
..
