#!/bin/sh

again="true"

echo "Welcome to the NetBSD @@VERSION@@ installation floppy."
echo

while [ $again = "true" ]; do

	echo 'enter "install" to install NetBSD,'
	echo '      "upgrade" to upgrade an existing NetBSD system,'
	echo '   or "shell" for a shell prompt.'
	echo
	echo -n "your choice? "
	read resp

	case "$resp" in
		install|upgrade|shell)
			again="false"
			;;
		"")
			echo
			;;
		*)
			echo	"Sorry, $resp isn't valid."
			echo
			;;
	esac
done

case "$resp" in
	install)
		install
		;;
	upgrade)
		upgrade
		;;
	shell)
		echo 'If you want to run install or upgrade later,'
		echo 'simply type "install" or "upgrade" to the shell.'
		echo 'good luck!'
		;;
esac
