#	$NetBSD: compat_netbsd80.config,v 1.1.2.1 2018/09/09 22:35:23 pgoyette Exp $

# Common fragment for all NetBSD targets wanting NetBSD 7.0 and newer
# compatibility support.
#
# Note that COMPAT_80 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_80	# NetBSD 8.0 and beyond.
