#	$NetBSD: compat_netbsd30.config,v 1.2 2018/01/15 07:20:10 mrg Exp $

# Common fragment for all NetBSD targets wanting NetBSD 3.0 and newer
# compatibility support.
#
# Note that COMPAT_30 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_30	# NetBSD 3.0 and beyond.
