#	$NetBSD: compat_netbsd100.config,v 1.1 2022/12/19 23:19:51 pgoyette Exp $

# Common fragment for all NetBSD targets wanting NetBSD 10.0 and newer
# compatibility support.
#
# Note that COMPAT_100 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_100	# NetBSD 10.0 and beyond.
