#	$NetBSD: compat_netbsd09.config,v 1.2 2018/01/15 07:20:10 mrg Exp $

# Common fragment for all NetBSD targets wanting NetBSD 0.9 and newer
# compatibility support.
#
# Note that COMPAT_09 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_09	# NetBSD 0.9 and beyond.
