#	$NetBSD: compat_netbsd80.config,v 1.3 2020/01/18 07:54:26 ryoon Exp $

# Common fragment for all NetBSD targets wanting NetBSD 8.0 and newer
# compatibility support.
#
# Note that COMPAT_80 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_80	# NetBSD 8.0 and beyond.
