#	$NetBSD: compat_netbsd11.config,v 1.2 2018/01/15 07:20:10 mrg Exp $

# Common fragment for all NetBSD targets wanting NetBSD 1.1 and newer
# compatibility support.
#
# Note that COMPAT_11 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_11	# NetBSD 1.1 and beyond.
