#	$NetBSD: compat_netbsd90.config,v 1.1.2.1 2020/01/25 22:38:45 ad Exp $

# Common fragment for all NetBSD targets wanting NetBSD 9.0 and newer
# compatibility support.
#
# Note that COMPAT_90 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_90	# NetBSD 9.0 and beyond.
