#	$NetBSD: compat_netbsd110.config,v 1.1 2024/05/19 22:25:48 christos Exp $

# Common fragment for all NetBSD targets wanting NetBSD 10.0 and newer
# compatibility support.
#
# Note that COMPAT_110 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_110	# NetBSD 11.0 and beyond.
