#	$NetBSD: compat_netbsd90.config,v 1.1 2019/09/22 22:59:38 christos Exp $

# Common fragment for all NetBSD targets wanting NetBSD 7.0 and newer
# compatibility support.
#
# Note that COMPAT_80 implies all newer COMPAT_XX options.

include        "conf/compat_netbsd.config"
options 	COMPAT_90	# NetBSD 9.0 and beyond.
