#!/bin/sh
# $NetBSD: libsa.config,v 1.1 2000/01/12 02:33:56 cgd Exp $

# config file/script to generate project file (.dsp) for libsa

TYPE=static_library_WCE_MIPS

NAME='libsa'
SRCFILE_LIST='alloc.c bcopy.c close.c devopen.c dkcksum.c lseek.c open.c printf.c read.c subr_prf.c twiddle.c ufs.c winblk.c winfs.c'
CPPDEF_LIST='_STANDALONE'
INCDIR_LIST='. ../include ../../../..'
LIBDEP_LIST=''
LIBRARY_LIST=''

cd `dirname $0`
. ../dspgen/do_subst.sh
