#!/bin/sh
# $NetBSD: libsa.config,v 1.6 2000/02/03 19:46:21 cgd Exp $

# config file/script to generate project file (.dsp) for libsa

TYPE=static_library_WCE_MIPS

NAME='libsa'
SRCFILE_LIST='
	../../../../lib/libsa/bcopy.c
	../../../../lib/libsa/bzero.c
	../../../../lib/libsa/close.c
	../../../../lib/libsa/dkcksum.c
	../../../../lib/libsa/lseek.c
	../../../../lib/libsa/open.c
	../../../../lib/libsa/printf.c
	../../../../lib/libsa/read.c
	../../../../lib/libsa/subr_prf.c
	../../../../lib/libsa/twiddle.c
	../../../../lib/libsa/ufs.c
	alloc.c
	devopen.c
	winblk.c
	winfs.c
	winprintf.c
'
CPPDEF_LIST='
	_STANDALONE
	__STDC__
'
INCDIR_LIST='
	.
	../../../..
	../include
'
LIBDEP_LIST=''
LIBRARY_LIST=''

cd `dirname $0`
. ../dspgen/do_subst.sh
